body {
  margin: 0;
  height: 100vh;
  background: #ffd6e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 20px;
}

.question-container {
  background: #fff0f5;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  width: 300px;
}

.image {
  width: 120px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 50px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  left: 40px;
}

#noBtn {
  background: #ff8fa3;
  color: white;
  right: 40px;
}

.result-container {
  display: none;
  text-align: center;
}

button {
    transition: transform 0.25s ease;
    position: absolute;
}

.result-container {
  display: none;
  text-align: center;
}

.result-img {
  width: 220px;
}

.result-img {
  animation: fadeIn 0.05s ease;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.footer p {
    margin: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
